<%= flash[:message] %>
<%= form_for :auth, url: personalities_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit "Login" %>
<% end %>
<a href="/signup">
    <p>Sign up</p>
</a>