<h1>Edit my Profile</h1>
<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %><br>
    <%= f.submit "Update my Profile" %>
<% end %>
<%= link_to "Delete this profile", user_path(@user), method: :delete %>

    