<h1>Edit my Profile</h1>

<div class="form-group">
<%= form_for @user do |f| %>
    <%= f.label "Username: " %>
    <div class="colo-sm-10">
        <%= f.text_field :username %><br>
    </div>
    <p></p>
    <%= f.label "Name: " %>
    <div class="colo-sm-10">
        <%= f.text_field :name %><br>
    </div>
    <p></p>
    <%= f.label "Bio: " %>
    <div class="colo-sm-10">
        <%= f.text_area :bio %><br>
    </div>
    <p></p>
    <%= f.submit "Update My Profile" %>
<% end %>
<p></p>
<div>
<%= link_to "Delete this profile", user_path(@user), method: :delete %>
</div>
    
    