<h1><%= @user.name %></h1>
<h6>(<%= @user.username %>)</h6>
<h3>Personality Type:
<% if !AnswersUser.find_by(user_id: @user.id) %>
    <%= "TBD" %>
<% else %>
    <% my_personality = @user.calculate_personality %>
    <%= link_to @user.personality.name, personality_path(my_personality.id) %>
<% end %>
</h3>
<p><%= @user.bio %></p>

<h5>
<% if @user.friends.count > 0 %>
    <%= "Friends:" %><br>
    <% @user.friends.each do |friend| %> 
        <% fri = User.find(friend.friend_id.to_i) %>
        <%= link_to fri.name, user_path(fri) %><br>
    <% end %>
<% end %>
</h5>