<h1><%= @user.name %></h1>
<h2>Personality Type:
<% if !AnswersUser.find_by(user_id: @user.id) %>
    <%= "TBD" %>
<% else %>
    <% my_personality = @user.calculate_personality %>
    <%= link_to @user.personality.name, personality_path(my_personality.id) %>
<% end %>
</h2>
<p><%= @user.username %></p>
<p><%= @user.bio %></p>
<h3>Friends: 

<% if @user.friends.count > 1 %>
    <% @user.friends.each do |friend| %> 
        <% fri = User.find(friend.friend_id.to_i) %>
        <%= link_to fri.name, user_path(fri) %>
    <% end %>
<% end %>
</h3>