<h1>Personality Quiz</h1>
<p>For each section, select the item that you identify with most:</p>
<%= form_for quiz_path do |f| %>
    <% @answers.each do |answer| %>
        <%= f.label answer[:question] %>
        <p></p>
        <%= f.radio_button :option1,  answer[:option1] , :checked => true%>
        <%= f.label :option1, answer[:option1] %>
        <p></p>
        <%= f.radio_button :option2,  answer[:option2] %>
        <%= f.label :option2, answer[:option2] %>
        <p></p>
    <% end %>
    <%= f.submit "Submit" %>
<% end %>