<h1>Personality Quiz</h1>
<p>Select the item that you identify with most:</p>
<%= form_for quiz_question_3_path do |f| %>
    3. <%= f.label @answer[:question] %>
    <p></p>
    <%= f.radio_button :response, "T" , :checked => true %>
    <%= f.label :option1, @answer[:option1] %>
    <p></p>
    <%= f.radio_button :response, "F" %>
    <%= f.label :option2, @answer[:option2] %>
    <p></p>
    <%= f.submit "Next Question" %>
<% end %>