<h1>Personality Quiz</h1>
<p>Select the item that you identify with most:</p>
<%= form_for quiz_question_4_path do |f| %>
    4. <%= f.label @answer[:question] %>
    <p></p>
    <%= f.radio_button :response, "J" , :checked => true %>
    <%= f.label :option1, @answer[:option1] %>
    <p></p>
    <%= f.radio_button :response, "P" %>
    <%= f.label :option2, @answer[:option2] %>
    <p></p>
    <%= f.submit "Submit" %>
<% end %>