<!DOCTYPE html>
<html>
  <head>
    <title>Personality Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
    <a href="/personalities">
      <h1>Personality Quiz</h1>
    </a>
    <div>
        <% if logged_in? %>
          <%= link_to 'Take the Quiz', quiz_path, {class: 'item'} %>
          <%= link_to 'Edit my Profile', edit_user_path, {class: 'item'} %>
          <%= link_to 'Logout', logout_path, {class: 'item'} %>
        <% end %>
      </div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
