<!DOCTYPE html>
<html>
  <head>
    <title>Personality Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
    <h1>Personality Type Indicator</h1>
    <div>
        <% if logged_in? %>
          <%= link_to 'Take the Quiz', quiz_question_1_path %>
          <%= link_to 'Personality Types', personalities_path %>
          <%= link_to 'User Profiles', users_path %>
          <%= link_to 'Edit my Profile', edit_user_path(current_user.id) %>
          <%= link_to 'Logout', logout_path %>
        <% end %>
      </div>
  </div>
  <body>
    <p></p>
    <%= yield %>
  </body>
</html>
